*{
    padding:0;
    margin:0;
}
.section{
    position: relative;
}
.section{
    background:url('../img/background2.png');
}
.section.index{
     background:url('../img/background1.png');
}