*{
    padding:0;
    margin:0;
}
.section{
    position: relative;
}
.section{
    background:url('../img/background2.jpg');
  background-size: 120% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
.section.index{
     background:url('../img/background1.gif');
  background-size: 100% 120%;
  background-repeat: no-repeat;
}